
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
    

body {
    font-family: 'Inter', system-ui, sans-serif;
    background-color: #f4f7f9;
    line-height: 1.6;
    padding: 20px;
    min-height: 100vh;
}
